body {
 background-image: url('./assest/birthdayCake.png');
 background-repeat: no-repeat;
 background-size: cover;
}

.container {
    width: 40%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.body {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 90px;
}

h2 {
 animation: 1s blink linear infinite;
 display: flex;
 justify-content: center;
}

.blink_me {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.birthdayCard {
 position: relative;
 width: 250px;
 height: 400px;
 cursor: pointer;
 transform-style: preserve-3d;
 transform: perspective(2500px);
 transition: 5s;
}

.couples{
    width: 105%;
    position: relative;
    left: 50px;
    bottom: 50px;
}

.cardFront {
 position: relative;
 border-radius: 5px;
 background-color: #d2d1f7;
 backdrop-filter: blur(10px);
 width: 350px;
 height: 600px;
 overflow: hidden;
 transform-origin: left;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
 transition: 1.5s;
}

.happy {
 font-family: serif;
 text-align: center;
 margin: 30px;
 transition: .1s;
 margin-top: 12rem;
 font-style: italic;
 color: #c71585;
}

.cardInside {
 position: absolute;
 border-radius: 5px;
 background-color: #ffffff;
 backdrop-filter: blur(10px);
 width: 350px;
 height: 600px;
 z-index: -1;
 left: 0;
 top: 0;
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}


p {
 font-family: sans-serif;;
 margin: 10px 10px 10px 30px;
 color: #333;
 font-size: 0.8rem;
}

.name {
 position: absolute;
 left: 150px;
 /* top: 200px; */
 color: #333;
 text-decoration: underline;
}

.gallery{
    width: 40%;
}
.back {
    padding: 1px;
    font-family: sans-serif;
    color: #333;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #e04e82;
    border: 1px dashed;
}

.back p{
    font-size: 12px;
    font-family: cursive;
}

.pickUpLine{
    text-align: center;
    margin: 5px;
}

.birthdayCard:hover {
 transform: perspective(2500px) rotate(0deg);
 box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
 transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
 visibility: hidden;
}

footer{
 font-size: 10px;
 color: white;
 position: absolute;
 bottom: 0px;
}
footer a{
 color: white;
}